<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<title>Bingo</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/cerulean.min.css">
    <!-- custom styles -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> -->
    <!-- include jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>B</th>
				<th>I</th>
				<th>N</th>
				<th>G</th>
				<th>O</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{b1}}</td>
				<td>{{i1}}</td>
				<td>{{n1}}</td>
				<td>{{g1}}</td>
				<td>{{o1}}</td>
			</tr>
			<tr>
				<td>{{b2}}</td>
				<td>{{i2}}</td>
				<td>{{n2}}</td>
				<td>{{g2}}</td>
				<td>{{o2}}</td>
			</tr>
			<tr>
				<td>{{b3}}</td>
				<td>{{i3}}</td>
				<td>{{n3}}</td>
				<td>{{g3}}</td>
				<td>{{o3}}</td>
			</tr>
			<tr>
				<td>{{b4}}</td>
				<td>{{i4}}</td>
				<td>{{n4}}</td>
				<td>{{g4}}</td>
				<td>{{o4}}</td>
			</tr>
			<tr>
				<td>{{b5}}</td>
				<td>{{i5}}</td>
				<td>{{n5}}</td>
				<td>{{g5}}</td>
				<td>{{o5}}</td>
			</tr>
		</tbody>
	</table>

</body>
</html>